doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
  body
    h1= title
    p Welcome to my server!
    p= message
    // TODO: provide some information about your API, use dynamic content rendering
    p This is a simple API server for the course "Web Engineering 2" at the University of Applied Sciences in Salzburg.
    p It is based on Node.js and Express.js.
    p The server is running on port 3000.
    p The following routes are available: